#whole {
display:flex;
flex-direction: column;
border: black solid 2px;
border-radius: 7px;
width: 20%;
flex-wrap: nowrap;
gap: 10px;
    width: min(400px, 90vw);
}


.textbox{
    border:none;

    background:white;

    font-size:1.1rem;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    cursor:text;
    border-radius: 7px;
    padding: 10px;
}

.textbox:focus {
    outline: none;
}

.send{
    background-color: white;
border-radius: 7px;
border:none;
border-top: 2px black solid;
border-top-left-radius: 0;
border-top-right-radius:0;
cursor:pointer;
padding: 10px;
text-align: center;
    font-size:1.2rem;
}


.send:disabled{

    background:#f4f4f4;

    color:#999;

    letter-spacing:1px;

    cursor:not-allowed;

    position:relative;

}
